<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="Linkit, Smart Factory, Data Analysis">
<meta name="author" content="Peiren Yang">

<!-- Icon of the Website -->
<link rel="icon" href="{{ url_for('.static', filename = 'images/favicon.ico') }}">

<title>{% block title %}{{ title_name }}{% endblock %}</title>

<!-- Bootstrap core CSS -->
<link href="{{ url_for('.static', filename = 'css/bootstrap.min.css') }}" rel="stylesheet">

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<link href="{{ url_for('.static', filename = 'css/ie10-viewport-bug-workaround.css') }}" rel="stylesheet">

<!-- dashboard styles from Bootstrap template -->
<link href="{{ url_for('.static', filename = 'css/dashboard.css') }}" rel="stylesheet">

<!-- Table styles from Datatables template -->
<link href="{{ url_for('.static', filename = 'css/jquery.dataTables.min.css') }}" rel="stylesheet">

<!-- Footer styles from Bootstrap template -->
<link href="{{ url_for('.static', filename = 'css/sticky-footer.css') }}" rel="stylesheet">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->